@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@100;400;500;700&display=swap");
/* Common code */
* {
  margin: 0px;
  padding: 0px;
}
section {
  padding-top: 80px;
  background: #ffdecf47;
}
/* Common code */
#header {
  background-image: url("../Images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 55px 0px;
}

.container {
  width: 90%;
  margin: auto;
}

.header-description {
  color: white;
  width: 380px;
  border: 1px solid rgba(245, 245, 245, 0.05);
  border-radius: 5px;
  padding: 28px 25px 28px 20px;
  margin-left: auto;
  text-align: right;
  box-shadow: rgb(36, 34, 106) 0px -1px 20px 0px;
}

#header-title {
  font-family: Roboto, sans-serif;
  margin-bottom: 15px;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.99);
  line-height: 60px;
}

.paragraph {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.95);
  margin-bottom: 20px;
  line-height: 25px;
}

.button {
  font-family: Poppins, sans-serif;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(226, 226, 255);
  color: rgb(16, 47, 151);
  border: 1px solid rgb(16, 47, 151);
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background: transparent;
  color: rgb(226, 226, 255);
  border: 1px solid rgb(226, 226, 255);
}
/*                             failure-section                                    */
.failure-area,
.success-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.failure-img-area,
.success-img-area {
  width: 50%;
}
.failure-content,
.success-content {
  width: 46%;
  padding-right: 30px;
}

.failure-img-area img {
  margin-left: 30px;
  width: 405px;
}
.title {
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #423d2b;
  margin-bottom: 7px;
}
.description {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: #3e3333;
}
.list {
  margin-top: 10px;
}

.list li {
  list-style: none;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 17px;
  color: #341e10;
}
.list li img {
  width: 30px;
  object-fit: cover;
  margin-right: 15px;
}
/*failure-section*/

/*Success-section*/

.success-img-area img {
  width: 500px;
}
/*Success-section*/

/* New year New plan */
.new-year-title {
  text-align: center;
}
.plans-area {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.plan img {
  width: 65px;
}
.plan {
  width: 240px;
  text-align: center;
  border: 1px solid #e9d8d18a;
  border-radius: 5px;
  padding: 21px 0;
}

.plan h5 {
  font-family: Poppins, sans-serif;
  font-size: 23px;
  font-weight: 500;
  color: #1a1952;
}

.plan span {
  font-family: Poppins, sans-serif;
  font-size: 13px;
  color: #686363;
}
/* New year New plan */
